
# Java
target/
*.log
*.class

# Maven/Gradle
.mvn/
.gradle/
build/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### hibernateSorgu.txt ###
hibernateSorgu.txt

sh.exe.stackdump